# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CustomHearthstoneCardback.iml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\ShaderProjects\CustomHearthstoneCardback\.idea\.idea.CustomHearthstoneCardback\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
